<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }} | robstarbuck.uk</title>
  <link rel="preconnect" href="https://rsms.me/">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="/font.css">
  <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=.75">
</head>
<body>
  <nav>
    <a href="/">
      robstarbuck.uk
    </a>
  </nav>
  <main>
    <div class="content">
    {{ content }}
    </div>
  </main>
  <div class="post-script">
    {{ if pdfLink }}
    <a href="{{ pdfLink }}">⤓ PDF</a>
    {{ /if }}
    {{ if markdownLink }}
    <a href="{{ markdownLink }}">Markdown</a>
    {{ /if }}
  </div>
  <footer>
    <a href="{{ github }}">
      {{ comp.logo.github() }}
      <time datetime="{{ buildDate }} {{ buildTime }}.000">Built {{ buildDate }}</time>
    </a>
  </footer>
</body>
<link rel="stylesheet" href="/minireset.css"></link>
<link rel="stylesheet" href="/vertical-rhythm.css"></link>
<link rel="stylesheet" href="/index.css"></link>
<link rel="stylesheet" href="/cv.css"></link>
</html>
