/* https://rsms.me/inter/ */
html, button {
    font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
    html, button {
        font-family: "Inter var", sans-serif;
    }
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

code {
    font-family: "JetBrains Mono", monospace;
}

pre code {
    border-radius: calc(var(--r) * 0.25);
    display: block;
    padding: calc(var(--pd) * 0.5);
    color: var(--highlight-color);
    background: var(--highlight-bg);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}