<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Invoice {{ date |> date('yyyy-MM-dd') }}</title>

  <link rel="preconnect" href="https://rsms.me/">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="/font.css">

  <link rel="stylesheet" href="/minireset.css"></link>
  <link rel="stylesheet" href="/vertical-rhythm.css"></link>
  <link rel="stylesheet" href="/index.css"></link>
  <link rel="stylesheet" href="/highlight-js/robstarbuck.uk.css"></link>

  <link rel="stylesheet" href="/paper.css"></link>

  <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=.75">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

</head>
<body>
  <nav>
    <a href="/">
      robstarbuck.uk
    </a>
  </nav>
  <main class="paper -invoice">
    <div class="content">
    <header><strong>Rob Starbuck</strong>&nbsp;{{ business }}</header>
    <h2>{{ title }} {{ ref }}</h2>

    <p>{{ date |> date('dd/MM/yyyy') }}</p>

    {{ content }}

    <hr />

    <h3>BANK TRANSFER</h3>
    <p><strong>Account Number:</strong> {{ account }}
      <strong>Sort Code:</strong> {{ sortcode }}
      <strong>Reference:</strong> {{ ref }}
    </p>

    {{ if monzo }}
      <h3>MONZO</h3>
      <p><a href="{{ monzo }}">{{ monzo }}</a></p>
    {{ /if }}


    <div class="footer"><strong>Reference:</strong> {{ ref }}</div>
    </div>
  </main>
</body>
</html>
